td,th{
  padding: 5px; 
  line-height: 1em;
  border:1px solid rgba(0,0,0,0.2);
}
th{
  font-weight: bold;
  color:grey;
}
table{
  border-collapse: collapse;
}
.ui-tabs-panel{
  overflow: auto;
}
.new_meta,.new_meta form{
  display: flex;
  justify-content: flex-start; 
}
.new_meta div{
  margin:auto;
  margin-left: 0;
  margin-right: 20px;
}
.ui-tabs-tab{
  padding: 5px !important;
}
.meta_list{
  display: flex;
  flex-wrap: wrap;
}
.meta_list div{
  margin:10px;
}
.input_id{
  width: 40px !important;
  display: none;
}
.filter{
  width: 100% !important;
  min-width: 100px;
}
.export_block{
  margin:10px;
  display: flex;
}
.export_block div{
  margin:auto;
  margin-left: 0;
}
.export_block a{
  color: red;
  font-weight: bold;
  font-size: 18px;
}