td,th{
  padding: 5px; 
  line-height: 1em;
  border:1px solid rgba(0,0,0,0.2);
}
th{
  font-weight: bold;
  color:grey;
}
table{
  border-collapse: collapse;
}
*{
  line-height: 1em;
}
b{
  font-weight: bold !important;
}
.ui-tabs-panel{
  overflow: auto;
  height: 90vh;

}

.new_meta,.new_meta form{
  display: flex;
  justify-content: flex-start; 
}
.new_meta div{
  margin:auto;
  margin-left: 0;
  margin-right: 20px;
}
.ui-tabs-tab{
  /*padding: 5px !important;*/
}
.meta_list{
  display: flex;
  flex-wrap: wrap;
}
.meta_list div{
  margin:10px;
}
.input_id{
  width: 40px !important;
  display: none;
}
input[name="calculation_filter"],
input[name="payment_filter"],
.filter{
  width: 100% !important;
  min-width: 100px;
}
.export_block{
  margin:10px;
  display: flex;
}
.export_block div{
  margin:auto;
  margin-left: 0;
}
.export_block a{
  color: red;
  font-weight: bold;
  font-size: 18px;
}
.add_pice{
  padding: 20px;
}
.price_popup-wrapper{
  overflow: scroll;
  position: fixed;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  display: none;
}
.preloader{
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  display: none;
}
.preloader div{
  font-size: 72px;
  color: grey;
  margin:auto;
  animation-name:rotation; 
  animation-duration:1s; 
  animation-timing-function:linear;
  animation-iteration-count:infinite; 
}
@keyframes rotation {
  from { 
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}
.price_popup{
  background-color: white;
  padding: 10px;
  margin: auto;
  position:relative;
}
.price_popup div{
  padding: 5px;
}
input[name="payment_amount"],
input[name="payment_date"],
.price_item input[type="text"],
.price_popup input[type="text"]{
  width: 100px;
}
button[name="price_popup-close"]{
  margin-left: 100%;
  margin-top:-40px;
}
.price_list{
  display: flex;
}
.price_item{
  padding: 5px;
  line-height: 1em;
  display: flex;
}
.price_item div{
  padding: 5px;
}
.ui-accordion-content-active{
  height: 75vh !important;
  overflow: scroll;
}
.payment_add-block{
  padding: 10px;
}

.admin_calculation-popup div{
  line-height: 1em;
  padding: 5px;
}
.admin_calculation-popup_wrapper{
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0,0,0,0.5);
  display: none;
}
.admin_calculation-popup{
  display: flex;
  margin:auto;
  background-color: white;
  padding: 5px;
}
.admin_calculation-close{
  position:relative;
}
.admin_calculation-close button{
  position:absolute;
  right: -20px;
  top: -20px;
}
.files{
  display: flex;
  justify-content: flex-start;
}
.files div{
  padding: 10px;
}
