div {line-height: 1em;}
.menu{
  border-bottom: 2px solid skyblue;
  padding: 20px;
}
.menu a{
  transition-duration: 1s;
  color: skyblue;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
}
.menu a:hover{
  transition-duration: 1s;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
}
.menu a.active {
  color: lightcoral;
}
input[name="festival_add_new_date"]{
  width:150px;
}
.container {
  padding: 10px;
}
.title {
  font-weight: bold;
  font-size: 16px;
  color: skyblue;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tr_like{
  display: flex; 
  flex-wrap: nowrap;
  justify-content: center;
}

.td_like{
  width: 400px;
  border: 1px solid grey;
  padding: 10px;
}

.wrapper_pagination{
  display: flex;
}
.pagination{
  margin:auto;
  color:grey;
}
.pagination a {
  text-decoration: none;
  color:grey;
}
.edit_popup_visible,
.edit_popup_invisible {
  background-color: rgba(0,0,0,0.4);
  display: flex;
  height: 100vh;
  left: 0;
  position: fixed;
  top:0;
  transition-duration: 1s;
  width: 100vw;
  z-index: 10;
}
.edit_popup_invisible {
  top:-100vh;
  transition-duration: 1s;
}

.edit_popup_form {
  background:white;
  margin:auto;
  padding: 20px;
  text-align: center;
}

.winner{
  text-align: center;
}