.warning {
  color:  red;
  width: 275px;
}
.tabs li{
  padding: 5px !important;
}
.tab *{
  line-height: 1em !important;
}
.tag_item{
  padding: 10px;
}
.row {
  display: flex;
  justify-content: center;
}

.container{
  padding: 20px;
}
.quiz_step li{
  padding: 10px !important;
}