
.table_wrapper {
  background: rgba(0,150,250,0.1);
}
tr{
  background: rgba(0,150,250,0.1);
}
td {
  padding: 5px;
}
body *{
  color: royalblue !important;
}

.navigation_item {
  display: block;
  padding: 10px;
  text-decoration: none;
  background: rgba(0,150,250,0.1);
  margin:5px;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 1em !important;
  background: rgba(0,150,250,0.1);
}

.tab *{
  line-height: 1em !important;
}
.tag_item{
  padding: 10px;
}
.row {
  display: flex;
  justify-content: center;
}
.warning {
  color:  red;
  width: 275px;
}
.container{
  padding: 20px;
}
.quiz_step{
  padding: 10px;
}
.quiz_step li{
  padding: 10px !important;
  background: rgba(0,150,250,0.1);
  margin:10px;
}
.quiz_step a{
  text-decoration: none;
}

.tab {
  padding: 5px !important;
}

.mark_input {
  height: 40px !important;
  width: 30px !important;
  background: rgba(0,150,250,0.1);
  border:none !important;
  padding-left: 5px !important;
}
.mark_input:focus {
  background: lightblue;
}

.nomination_title{
  font-weight: bold;
}

@media screen and (max-width: 320px){
  .width_control{
    max-width: 100px;
    overflow:hidden;
  }
}
