*,body,div,li,ul,ol,p,span,select,option,textarea,
input,table,th,td,tr{
  box-sizing: border-box;
  line-height: 1em;
  line-height: 0;
  margin:0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
select {
  position: absolute;
  left: 0;
  top:0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  font:400 16px Arial, Helvetica, sans-serif;
}
.select_wrapper{
  /*border:1px solid red;*/
  position: relative;
  display: inline-block;
  height: 40px;
  width: 250px;
}
.select_wrapper::before{
  content: "\203A";
  position: absolute;
  right: 10px;
  top:20px;
  font-size: 36px;
  transform:rotate(90deg);
  color:skyblue;
}
textarea,
select,
input[type="text"]{
  height: 40px;
  border: 1px solid rgba(0,0,0,0.1);
  width: 250px;
  padding-left: 10px;
  transition-duration: 1s;
  outline: 1px solid transparent;
  font:400 16px Arial, Helvetica, sans-serif;
}
textarea:focus,
textarea:active,
textarea:hover,
select:focus,
select:active,
select:hover,
input[type="text"]:focus,
input[type="text"]:active,
input[type="text"]:hover{
  border-color:skyblue;
  transition-duration: 1s;
}
textarea{
  height: 100px;
  padding: 10px;
}
option{
  padding: 5px;
}
button{
  padding: 5px;
  line-height: 1em;
  border:2px solid skyblue;
  background:white;
  color:skyblue;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  transition-duration: 1s;
}
button:hover,
button:active{
  background-color: skyblue;
  color: white;
  transition-duration: 1s;
}
.test{
  line-height: 1em;
}
.main_img{
  width: 100%;
  height: auto;
}
.ui-datepicker *{
  line-height: 1em;
}