hr{
  margin:20px;
  border-width: 1px;
  border-color:skyblue;
  border-style: solid;
  /*opacity: 0.5;*/
}
td{
  /*border:1px solid grey;*/
  line-height: 1em;
  padding: 5px;
}
table{
  border-collapse: collapse;
}
label{
  cursor: pointer;
}

label i{
  color: skyblue;
}
input[type="checkbox"]{
  opacity: 0;
}
input[type="text"]{
  width: 275px;
}
.extit_button i{
  transform:rotate(180deg);
}
.extit_button{
  position: absolute;
  top:10px;
  left: 10px;
  background-color: transparent;
  color:white;
  border-color:white;
}
.tab_content{
  /*border:1px solid red;*/
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.tab_image{
  width: 125px;
  height: 125px;
  display: flex;
}
.tab_image img{
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.tab_item{
  padding: 5px;
  max-width: 300px;
  text-align: left;

}
.tab_item-title{
  /*border:1px solid blue;*/
  margin:auto;
  height: 50px;
  display: flex;
  color:royalblue;
}
.tab_item-content{
  text-align: left;
}
.tab_item-list{
  padding-top:1em;
  line-height: 1em;
}
.tab_item-title div{
  /*border:1px solid red;*/
  font-weight: 600 !important;
  margin:auto;
  margin-left: 0;
  margin-bottom:0;
  line-height: 1em;
}
.upload_wrapper{
  position: relative;
  height: 125px;
  width: 125px;
  border:1px solid skyblue;
  display: flex;
  color:skyblue;
}
input[type="file"]{
  position: absolute;
  top:0;
  left:0;
  height: 125px;
  width: 125px;
  opacity: 0;
}
.upload_icon{
  margin:auto;
  font-size: 54px;
}

